.about {
  h1 {
    font-size: $base-font-size*2.5;
  }

  .colored {
    color: $secondary-color-light;
  }

  img {
    padding: 25px 10px 10px 10px;
    width: 100%
  }

  .text {
    margin-left: 20px;
    letter-spacing: 1px;
  }

  .about-btn {
    color: $primary-text-color;
    font-size: $base-font-size;

    &:hover {
      color: $secondary-color-light;
      background-color: #fff;
    }
  }

  .about-btn.active {
    color: $secondary-color;
    background-color: #fff;

    &:hover {
      color: $secondary-color;
      background-color: #fff;
    }
  }
}
