header {

  .navbar {
    padding: 25px;
    background: $background-color;
    border: none;
  }

  .navbar-default {

    .navbar-nav a {
      color: $primary-text-color;
      transition: all 0.25s ease-out;

      &:hover {
        color: $secondary-color-light;
        transform: rotate(5deg) scale(1.2);
      }

      &:focus {
        color: $secondary-color;
        background-color: transparent;
      }
    }

    li {
      width: 100px;
      text-align: center;
    }

    .navbar-nav > .active > a {
      color: $secondary-color;
      background-color: transparent;

      &::after {
        content: "";
        display: block;
        background: url(../assets/images/red-streak.png);
        height: 15px;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &:hover {
        color: $secondary-color;
        background-color: transparent;
        transform: none;
      }
    }

    #name {
      color: $secondary-color;
      font-size: $base-font-size*1.75;
      padding-top: 20px;
      transition: all 0.25s ease-out;

      &:hover {
        transform: rotate(-5deg) scale(1.2);
      }
    }
  }
}
