@import 'header',
        'social',
        'about';

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

p {
  font-size: $base-font-size*1.5;
}