<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="name" href="#">Brenda Zhang</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a target="_blank" href="https://www.linkedin.com/in/brendazhang1"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://www.github.com/brendacs"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="about.html">About</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="another.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
