<header>
  <nav class="navbar navbar-default navbar-static">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="name" href="{{ base }}/index.html">Brenda Zhang</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href='{{ base }}/index.html'>About</a></li>
          <li><a href="{{ base }}/projects/index.html">Projects</a></li>
          <li><a href="{{ base }}/contact/index.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
