---
layout: default
---

<div class="about col-md-12">
  <h1 class="page-heading">About</h1>
  <div class="row">
    <img class="col-md-4" src="assets/images/multitask-girl.jpg" alt="multitasking girl">
    <div class="col-md-8">
      <p>Hi, I'm Brenda. I love to develop websites from scratch, experiment with shiny, new front end frameworks, take on more than I can handle, and code instead of study for exams.</p>
      <p>Learn more about me and my passions by exploring this site!</p>
      <div>
        <p>Where to first?</p>
        <div>
          <button class="btn btn-default">Things I know</button>
          <button class="btn btn-default">Things I do</button>
          <button class="btn btn-default">Things I did</button>
          <button class="btn btn-default">Things I will do</button>
        </div>
      </div>
    </div>
  </div>
</div>
