---
layout: default
---

<div class="about content col-md-12">
  <div class="row">
    <div class="about-image__container fade-in col-md-offset-1 col-md-4">
      <img src="assets/images/multitask-girl.png" alt="multitasking girl">
    </div>
    <div class="text col-md-6">
      <h1 class="fade-in page-heading">Hi, I'm Brenda!</h1>
      <p class="fade-in">I love to <span class="colored">develop websites</span> from scratch, experiment with <span class="colored">shiny new front end frameworks</span>, take on just <span class="colored">a bit more</span> than I can handle, and <span class="colored">code instead of studying</span> for exams.</p>
      <div class="fade-in-long">
        <p>Explore and <span class="colored">learn more</span> about me! Where to first?</p>
          <button class="about-btn btn btn-default active">Things I love</button>
          <button class="about-btn btn btn-default">Things I know</button>
          <button class="about-btn btn btn-default">Things I do</button>
          <button class="about-btn btn btn-default">Things I want to achieve</button>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
